{% extends "base.html" %}





{% block content %}


<div class="col-sm-6 col-lg-6 col-sm-offset-3">


	<h1>{{title}}</h1>

	<form method="GET">
		<input type="text" name="q" placeholder="Search posts" value="{{request.GET.q}}" />
		<input type="submit" value="Search" />
	</form><br />
	{% for obj in object_list%}


	<div class="row center" style="border: 1px #ccc solid; padding: 10px;">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="thumbnail">

			{% if obj.image %}
			<img src="{{obj.image.url}}" width="500" class="img-responsive" />
			{% else %}
				<h3>No image found!</h3>
			{% endif %}
			<hr />
				
					
				<div class="caption">
					{% if obj.draft %}<small style="color:red;">Staff only: Draft </small>{% endif %}
					{% if obj.publish > today %} 
						<small>Staff only: Future Post </small>
					{% endif %}
					
					<h3>
						<a href="{{obj.get_absolute_url}}">
						{{obj.title}}
						</a>
						<small>{{obj.publish|timesince}}</small>
					</h3>
					<p>Author: {{obj.user.get_full_name}}</p>
					<p>{{obj.content|linebreaks|truncatechars:150}}</p>
					<p><a href="{{obj.get_absolute_url}}" class="btn btn-primary btn-sm" role="button">More</a></p>
				</div>
			</div>
		</div>
	
	</div><hr/>
	{% endfor %}



	<div class="pagination">
		<span class="step-liks">
			{% if object_list.has_previous %}
				<a href="?{{page_request_var}}={{ object_list.previous_page_number}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ object_list.number }} of {{ object_list.paginator.num_pages}}
			</span>

			{% if object_list.has_next %}
				<a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
			{% endif %}
		</span>
	</div>
	
</div>
{% endblock %}